.app {
  position: relative;
  box-sizing: border-box;
}

.app-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
  background: linear-gradient(#000e, #000d,  #0008),
  url('./bg3.jpg');
  background-position: center;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
}

.app-content {
  z-index: 2;
}

.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .top-bar {
    position: relative;
    padding: 1rem;
  }
}